  prometheus:
    image: prom/prometheus:latest
    container_name: monitoring_prometheus
    restart: always
    volumes:
      - /var/docker-compose/data/prometheus/config:/etc/prometheus/
      - /var/docker-compose/data/prometheus/data:/data/prometheus
    command:
      - '--config.file=/etc/config/prometheus.yml'
      - '--storage.tsdb.path=/data/prometheus'
    expose:
      - 9090
    ports:
      - 9090:9090
    user: "0"
    links:
      - cadvisor:cadvisor
      - node-exporter:node-exporter
      - mqtt-exporter:mqtt-exporter
      - zigbeemqttexporter:zigbeemqttexporter
      - mqtt
      - alertmanager:alertmanager
    depends_on:
      - mqtt
