  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    volumes:
      - /var/docker-compose/data/prometheus/config:/etc/prometheus/
      - /var/docker-compose/data/prometheus/data:/data/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/data/prometheus'
    expose:
      - {{ containter_expose_port }}
    ports:
      - {{ containter_expose_port }}:9090
    user: "0" 
    links:
{{ var_links }}
