global:
  resolve_timeout: 1m

route:
- receiver: 'deuren-slack-notifications'
  matchers:
    - group: Deuren

- receiver: 'mqtt-slack-notifications'
  matchers:
    - group: Power

- receiver: 'power-slack-notifications'
  matchers:
    - group: AllInstances

- receiver: 'system-slack-notifications'


receivers:
- name: 'deuren-slack-notifications'
  slack_configs:
  - channel: '#deuren'
    api_url: '{| slack_deuren_webhook |}'
    title: '{{ .Annotations.title }} http://{| ext_ip |}:3000/d/IY_TzAggk/deuren {% raw %}{{ .GroupLabels.alertname }} {{ .GroupLabels.app }}{% endraw %}'
    text: "<!channel> \n{% raw %}summary: {{ .Annotations.summary }}\ndescription: {{ .Annotations.description }}{% endraw %}http://{| ext_ip |}:3000/d/IY_TzAggk/deuren {% raw %}{{ .GroupLabels.alertname }} {{ .GroupLabels.app }}{% endraw %}"
    send_resolved: true
- name: 'mqtt-slack-notifications'
  slack_configs:
  - channel: '#mqtt'
    api_url: '{| slack_mqtt_webhook |}'
    title: '{{ .Annotations.title }}'
    text: "<!channel> \n{% raw %}summary: {{ .Annotations.summary }}\ndescription: {{ .Annotations.description }}{% endraw %}"
    send_resolved: true
- name: 'power-slack-notifications'
  slack_configs:
  - channel: '#system'
    api_url: '{| slack_power_webhook |}'
    title: '{{ .Annotations.title }}'
    text: "<!channel> \n{% raw %}summary: {{ .Annotations.summary }}\ndescription: {{ .Annotations.description }}{% endraw %}"
    send_resolved: true
- name: 'system-slack-notifications'
  slack_configs:
  - channel: '#system'
    api_url: '{| slack_system_webhook |}'
    title: '{{ .Annotations.title }}'
    text: "<!channel> \n{% raw %}summary: {{ .Annotations.summary }}\ndescription: {{ .Annotations.description }}{% endraw %}"
    send_resolved: true
