global:
  resolve_timeout: 1m

route:
  # When a new group of alerts is created by an incoming alert, wait at
  # least 'group_wait' to send the initial notification.
  # This way ensures that you get multiple alerts for the same group that start
  # firing shortly after another are batched together on the first
  # notification.
  group_wait: 10s

  # When the first notification was sent, wait 'group_interval' to send a batch
  # of new alerts that started firing for that group.
  group_interval: 5m

  # If an alert has successfully been sent, wait 'repeat_interval' to
  # resend them.
  repeat_interval: 30m

  # A default receiver
  receiver: "system-slack-notifications"

  # All the above attributes are inherited by all child routes and can
  # overwritten on each.
  routes:
    - receiver: "deuren-slack-notifications"
      group_wait: 10s
#      matchers:
#        - group = deuren-slack-notifications
      match_re:
        group: 'deuren-slack-notifications'
      continue: true

    - receiver: "mqtt-slack-notifications"
      group_wait: 10s
      match_re:
        group: 'mqtt-slack-notifications'
      continue: true

    - receiver: "mqtt-slack-notifications"
      group_wait: 10s
      match_re:
        group: 'mqtt-slack-notifications'
      continue: true

    - receiver: "power-slack-notifications"
      group_wait: 10s
      match_re:
        alertname: "Solar"
      continue: true

    - receiver: "system-slack-notifications"

receivers:
- name: 'deuren-slack-notifications'
  slack_configs:
  - channel: '#deuren'
    api_url: '{| slack_deuren_webhook |}'
    title: "{{ range .Alerts }}{{ .Annotations.summary }}\n{{ end }}"
    text: "{{ range .Alerts }}{{ .Annotations.description }}\n{{ .GroupLabels.alertname }} {{ .GroupLabels.app }}{{ end }}"
    send_resolved: true

- name: 'mqtt-slack-notifications'
  slack_configs:
  - channel: '#mqtt'
    api_url: '{| slack_mqtt_webhook |}'
    title: "{{ range .Alerts }}{{ .Annotations.summary }}\n{{ end }}"
    text: "{{ range .Alerts }}{{ .Annotations.description }}\n{{ end }}"
    send_resolved: true

- name: 'power-slack-notifications'
  slack_configs:
  - channel: '#power'
    api_url: '{| slack_power_webhook |}'
    title: "{{ range .Alerts }}{{ .Annotations.summary }}\n{{ end }}"
    text: "{{ range .Alerts }}{{ .Annotations.description }}\n{{ end }}"
    send_resolved: true

- name: 'system-slack-notifications'
  slack_configs:
  - channel: '#system'
    api_url: '{| slack_system_webhook |}'
    title: 'system2'
    text: "<!channel> {{ .GroupLabels.alertname }} {{ .GroupLabels.app }} "
    send_resolved: true
