  rclone-dropbox:
    image: rclone/rclone
    container_name: rclone-dropbox    
    environment:
      - PHP_TZ=Europe/Amsterdam
      - PUID=998
      - PGID=100
    volumes:
      - /var/docker-compose/data/rclone/config/rclone.conf:/root/.rclone.conf
      - /var/docker-compose/data/rclone/logs:/logs
      - /var/docker-compose/data/backup:/Dropbox      
    ports:
      - "5574:5574"
    entrypoint: ["/bin/sh","-c", "/root/synchronisch.sh"]
    command: copy /Dropbox DropBox:Apps/rev_rpi_rclone/backup --log-level INFO --auto-confirm --error-on-no-transfer --check-first
    restart: always