  {{ containter_name }}:
    image: revenberg/p1exporter
    container_name: {{ containter_name }}
    environment:
      - PROMETHEUS_PORT={{ containter_expose_port }}
      - P1_DEVICE=/dev/ttyUSB0
      - P1_BAUDRATE=115200
      - PROMETHEUS_PREFIX=P1
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
    restart: always   
    ports:
      - {{ containter_expose_port }}:{{ containter_expose_port }}
    expose:
      - {{ containter_expose_port }}
