  {{ containter_name }}:
    image: kehrhardt/fritzbox_exporter:latest
    container_name: {{ containter_name }}
    privileged: true
    restart: unless-stopped
    ports:
      - {{ containter_expose_port }}:9042
    expose:
      - {{ containter_expose_port }}
    environment:
      GATEWAY_URL: http://{{ gateway_ip_address }}:49000
      USERNAME: monitoring
      PASSWORD: {{ FRITZ_PASS }}
      LISTEN_ADDRESS: 0.0.0.0:9042
