version: '3.7'

services:  
  zigbee:
    image: koenkk/zigbee2mqtt:latest
    environment:
      - TZ=Europe/Amsterdam
    ports:
      # Frontend port
      - 8088:8088
    volumes:
      - /var/docker-compose/zigbee:/app/data
    depends_on:
      - mqtt
    links:
      - mqtt
    devices:
      - "/dev/ttyACM0:/dev/ttyACM0"
    restart: always

  zigbeemqttexporter:
    image: revenberg/zigbeemqttexporter
    container_name: zigbeemqttexporter
    restart: always
    ports:
      - 9004:9004
    expose:
      - 9004
    environment:
      - MQTT_ADDRESS={{ ip_address }}
      - MQTT_TOPIC=zigbee2mqtt/#
      - MQTT_IGNORED_TOPICS=bridge
      - PROMETHEUS_PREFIX=reading_
      - TOPIC_LABEL=reading
      - LOG_LEVEL=DEBUG  
    depends_on:
      - mqtt
    links:
      - mqtt
      
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    restart: always
    expose:
      - 9100
    depends_on:
      - mqtt
    links:
      - mqtt

  cadvisor:
    image: braingamer/cadvisor-arm:latest
    container_name: monitoring_cadvisor
    privileged: true
    restart: always
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    devices:
      - /dev/kmsg
    expose:
      - 8080
    depends_on:
      - mqtt
    links:
      - mqtt

  mqtt:
    image: "eclipse-mosquitto:latest"
    container_name: mqtt
    environment:
      - TZ=Europe/Amsterdam
      - "MQTT_BROKER_URL=mqtt://{{ ip_address }}"
    ports:
      - 1883:1883
      - 9001:9001
    user: "1000:1000"
    volumes:
      - /var/docker-compose/mqtt/config:/mosquitto/config
      - /var/docker-compose/mqtt/var/docker-compose/data:/mosquitto/data
      - /var/docker-compose/mqtt/log:/mosquitto/log
    restart: always
    network_mode: host

#  portainer:
#    image: portainer/portainer-ce    
#    container_name: portainer
#    environment:
#      admin-password-file: "{{ pswrdfile }}"
#      host: "{{ ip_address }}"
#    ports: 
#      - 80:9000
#      - 9443:9443
#    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock 
#      - /data/portainer_data:/data 
#    restart: always
#    network_mode: host