  {{ containter_name }}:
    image: zcube/cadvisor
    container_name: {{ containter_name }}
    privileged: true
    restart: always
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    command:
      - '--docker_only'
      - '--disable_metrics=disk,diskIO,tcp,udp,percpu,sched,process,hugetlb'
      - '--housekeeping_interval=10s'
    devices:
      - /dev/kmsg
    ports:
      - {{ containter_expose_port }}:8080
    expose:
      - {{ containter_expose_port }}
