  {{ containter_name }}:
    image: revenberg/mqtt-exporter:latest
    container_name: {{ containter_name }}
    restart: always
    ports:
      - {{ containter_expose_port }}:{{ containter_expose_port }}
    expose:
      - {{ containter_expose_port }}
    environment:
      - MQTT_ADDRESS={{ mqtt_address }}
      - MQTT_TOPIC=watermeter/reading/#
      - PROMETHEUS_PREFIX=reading_
      - PROMETHEUS_PORT={{ containter_expose_port }}
      - TOPIC_LABEL=reading
      - LOG_LEVEL=WARN
    depends_on:
      - mqtt
    links:
      - mqtt