version: '3.7'

services:

  zigbeemqttexporter:
    image: revenberg/zigbeemqttexporter
    container_name: zigbeemqttexporter
    restart: always
    ports:
      - 9004:9004
    expose:
      - 9004
    environment:
      - MQTT_ADDRESS={{ ip_address }}
      - MQTT_TOPIC=zigbee2mqtt/#
      - MQTT_IGNORED_TOPICS=bridge
      - PROMETHEUS_PREFIX=reading_
      - TOPIC_LABEL=reading
      - LOG_LEVEL=DEBUG
    depends_on:
      - mqtt
    links:
      - mqtt

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    restart: always
    expose:
      - 9100
    depends_on:
      - mqtt
    links:
      - mqtt

  cadvisor:
    image: zcube/cadvisor
    container_name: monitoring_cadvisor
    privileged: true
    restart: always
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    command:
      - '--docker_only'
      - '--disable_metrics=disk,diskIO,tcp,udp,percpu,sched,process'
      - '--housekeeping_interval=10s'
    devices:
      - /dev/kmsg
    expose:
      - 8080

  portainer:
    image: portainer/portainer-ce
    container_name: portainer
    command:
      - "--admin-password-file=/data/.passwrd"
    ports:
      - 9000:9000
      - 9443:9443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/docker-compose/data/portainer_data:/data
    restart: always
    network_mode: host