  portainer:
    image: portainer/portainer-ce
    container_name: portainer
    command:
      - "--admin-password-file=/data/.passwrd"
    ports:
      - 9000:9000
      - 9443:9443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/docker-compose/data/portainer_data:/data
    restart: always
    network_mode: host