  solarrs485mqtt:
    image: revenberg/solarrs485mqtt:latest
    container_name: solar2mqtt
    environment:
      - RS485_ADDRESS=192.168.2.40
      - RS485_PORT=8899
      - MQTT_ADDRESS={{ mqtt_address }}
      - MQTT_PORT=1883
      - MQTT_TOPIC=reading/solar
    depends_on:
      - mqtt
    restart: always
    links:
      - mqtt