  {{ containter_name }}:
    image: revenberg/watermetergatewayexporter:latest
    container_name: {{ containter_name }}
    environment:
      - IP=192.168.2.20
      - PROMETHEUS_PORT={{ containter_expose_port }}
    restart: always
    ports:
      - {{ containter_expose_port }}:{{ containter_expose_port }}
    expose:
      - {{ containter_expose_port }}