  {{ containter_name }}:
    image: prom/node-exporter:latest
    container_name: {{ containter_name }}
    restart: always
    expose:
      - {{ containter_expose_port }}
    depends_on:
      - mqtt
    links:
      - mqtt