  {{ containter_name }}:
    image: kpetrem/mqtt-exporter:latest
    container_name: {{ containter_name }}
    restart: always
    ports:
      - {{ containter_expose_port }}:{{ containter_expose_port }}
    expose:
      - {{ containter_expose_port }}
    environment:
      - MQTT_ADDRESS={{ mqtt_address }}
      - MQTT_TOPIC=reading/#
      - PROMETHEUS_PREFIX=reading_
      - TOPIC_LABEL=reading
      - PROMETHEUS_PORT={{ containter_expose_port }}
    depends_on:
      - mqtt
    links:
      - mqtt
