map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

server {
    listen 80 default_server;
    server_name _;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

    #error_page  404              /404.html;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    location /grafana_def {
      proxy_pass $scheme://{{ ansible_ssh_host }}:3000/d/5nkT6iRRz/energieverbruik?orgId=1&refresh=1m;
    }

  location /grafana/ {
   proxy_pass http://localhost:3000/;
  }

  # Proxy Grafana Live WebSocket connections.
  location /grafana/api/live {
    rewrite  ^/grafana/(.*)  /$1 break;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection $connection_upgrade;
    proxy_set_header Host $http_host;
    proxy_pass http://localhost:3000/;
  }

    location /prometheus {
      proxy_pass $scheme://{{ ansible_ssh_host }}:9090/;
    }
    location /alertmanager {
      proxy_pass $scheme://{{ ansible_ssh_host }}:9093/;
    }
    location /zigbee {
      proxy_pass $scheme://{{ ansible_ssh_host }}:8080/;
    }


}