  nginx:
    image: nginx
    volumes:
    - /var/docker-compose/data/nginx/templates:/etc/nginx/templates
    ports:
    - "8080:80"
    environment:
    - NGINX_PORT=80

#    - NGINX_HOST=foobar.com
    