# cat index.html
<!DOCTYPE html>
<html>
<head>
<title>Boven</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body>
<h1>Boven</h1>
<a href="http://{{ ext_ip }}:9093">alertmanager</a><br/>
<a href="http://{{ ext_ip }}:3000">grafana</a><br/>
<a href="http://{{ ext_ip }}:9003">influxdb-export</a><br/>
<a href="http://{{ ext_ip }}:9010">mqtt-exporter</a><br/>
<a href="http://{{ ext_ip }}:9002">mqtt-water</a><br/>
<a href="http://{{ ext_ip }}:80">nginx</a><br/>
<a href="http://{{ ext_ip }}:9000">portainer</a><br/>
<a href="http://{{ ext_ip }}:9090">prometheus</a><br/>
<a href="http://{{ ext_ip }}:9088">zigbee</a><br/>
<a href="http://{{ ext_ip }}:9004">zigbeemqttexporter</a><br/>
<a href="http://{{ ext_ip }}:9180">cadvisor</a><br/>
   
</body>
</html>