# cat index.html
<!DOCTYPE html>
<html>
<head>
<title>Boven</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body>
<h1>Boven</h1>
<a href="http://{{ ansible_ssh_host }}:9093">alertmanager</a><br/>
<a href="http://{{ ansible_ssh_host }}:3000">grafana</a><br/>
<a href="http://{{ ansible_ssh_host }}:9003">influxdb-export</a><br/>
<a href="http://{{ ansible_ssh_host }}:9010">mqtt-exporter</a><br/>
<a href="http://{{ ansible_ssh_host }}:9002">mqtt-water</a><br/>
<a href="http://{{ ansible_ssh_host }}:80">nginx</a><br/>
<a href="http://{{ ansible_ssh_host }}:9000">portainer</a><br/>
<a href="http://{{ ansible_ssh_host }}:9090">prometheus</a><br/>
<a href="http://{{ ansible_ssh_host }}:8088">zigbee</a><br/>
<a href="http://{{ ansible_ssh_host }}:9004">zigbeemqttexporter</a><br/>
    
</body>
</html>