  {{ containter_name }}:
    image: koenkk/zigbee2mqtt:latest
    environment:
      - TZ=Europe/Amsterdam
    ports:
      # Frontend port
      - {{ containter_expose_port }}:8088
    volumes:
      - /var/docker-compose/data/zigbee:/app/data
    devices:
      - "/dev/ttyACM0:/dev/ttyACM0"
    restart: always