  influxdb-export:
    image: revenberg/influxdb-export:latest
    container_name: influxdb-export
    restart: always
    ports:
      - 9003:9003
    expose:
      - 9003
    volumes:
      # Data persistency
      - /var/docker-compose/data/backup:/data/backup
    environment:
      - LOG_LEVEL=DEBUG      
      - INFLUXDB_ADDRESS=192.168.2.71
      - INFLUXDB_PORT=8086
      - PROMETHEUS_PORT=9003