  {{ containter_name }}:
    image: revenberg/zigbeemqttexporter
    container_name: {{ containter_name }}
    restart: always
    ports:
      - {{ containter_expose_port }}:{{ containter_expose_port }}
    expose:
      - {{ containter_expose_port }}
    environment:
      - MQTT_ADDRESS={{ ip_address }}
      - MQTT_TOPIC=zigbee2mqtt/#
      - MQTT_IGNORED_TOPICS=bridge
      - PROMETHEUS_PREFIX=reading_
      - TOPIC_LABEL=reading
      - LOG_LEVEL=WARN
    depends_on:
      - mqtt
    links:
      - mqtt